@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body,
html,
#root {
    height: 100%;
}
#root {
    display: flex;
    flex-direction: column;
}

body {
    color: white;
    background-color: #1b262c;
}
// header {
//     position: fixed;
// }

footer {
    margin-top: auto;
    color: rgb(255, 255, 255);
    .logo {
        text-align: center;
    }
}

.blue-color {
    //From palette https://colorhunt.co/palette/167893
    background-color: #0f4c75;
}

.modal {
    color: black;
}

.sickbg {
    background-color: rgb(2, 73, 73);

}

.bigText {
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0;
}

.match-button-width {
    min-width: 86px;
}

.white-text {
    color: white;
}

.red-shadow {
	text-shadow: 0 0 5px #FF0000, 0 0 1px rgb(255, 57, 133);
	color:red

}

.backgroundColor {
	background-color: rgba($color: black, $alpha: 0.4);
	// -webkit-text-stroke: 0.5px black; /* width and color */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	-webkit-text-fill-color: white;
}

.bgOnText {
	background-color: rgba($color: red, $alpha: 0.3);
}

.centerAbs {
	// border: 2px solid purple;
	
	position: absolute;
	bottom: 8px;
	
	left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -0%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}