@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body,
html,
#root {
    height: 100%;
}
#root {
    display: flex;
    flex-direction: column;
}

body {
    color: white;
    background-color: #1b262c;
}
// header {
//     position: fixed;
// }

footer {
    margin-top: auto;
    color: rgb(255, 255, 255);
    .logo {
        text-align: center;
    }
}

.blue-color {
    //From palette https://colorhunt.co/palette/167893
    background-color: #0f4c75;
}

.modal {
    color: black;
}

.sickbg {
    background-color: rgb(2, 73, 73);

}

.bigText {
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0;
}

.minwidth-xd {
    min-width: 86px;
}
